html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*Base*/

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

body {
    background-image: url(../images/background.jpg);
}

h1 {
   font-size: 00px;
    
}

.gen {
    text-align: center;
    position: relative;
    padding-top: 50px;

}

.monstre {
   
    width: 600px;
    height: 600px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 20px black solid;

}


.corps {
    display: none;
    position: absolute;
    z-index: 10;
}

.yeux {
    position: absolute;
    top: 30;
    left: 30;
    z-index: 20;
    display: none;
}

.bouche {
    position: absolute;
    z-index: 30;
    display: none;
}



.caroussel {
    display: flex;
    justify-content: center;
    align-items: center;
}


span:hover {
    color: blue;
}

.gauche {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.droite {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.button {
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 40px;
}


.button:hover{
    background-color:blue;
}

.material-symbols-outlined {
    font-size: 100px !important;
}